# Eclipse
.classpath
.project
.settings/


# Maven
log/
target/


# Intellij
.idea
*.iws
*.class
*.ids
*.iml
*.ipr
*.iws
.classpath

target/
**/src/generated/
.idea/
.project
.settings/
bin/
build/
classes/
work/


# Package Files #
*.jar
*.war
*.ear
